[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
profanity-filter2 = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-apscheduler = "*"
celery = {extras = ["redis"], version = "*"}
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
