{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <br>
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <form action="{% url 'post_search' %}" method="GET">
                    {{ filter.form }}
                    <input type="submit" value="Find">
                </form>
            </div>
        </div>
    </div>
    </form>
    <a class="btn btn-secondary" href="{% url 'all_categories' %}">All Categories</a>
      {% for post in all_posts %}
        <div class="card">
          <div class="card-header">
          <span class="font-weight-bold"><a style="color:black" href="{% url 'post_detail' post.pk %}">{{ post.title|profanity }}</a></span> &middot;
          <span class="text-muted">by {{ post.author }} | <a href="#">{{ post.post_category.first }}</a> |
          {{ post.date_posted|date:"d.m.Y" }}</span>
          </div>
          <div class="card-body">
            <p>{{ post.text|truncatewords:50|profanity}}</p>
            <a href="{% url 'post_edit' post.pk %}">Edit</a> |
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
          </div>
          <div class="card-footer">
            {% for comment in post.comments.all %}
              <p>
                <span class="font-weight-bold"> {{ comment.user.username }} &middot;
                </span>
                {{ comment.text_comment }}
              </p>
            {% endfor %}
          </div>
        </div>
        <br />
      {% endfor %}
    {% if is_paginated %}
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><<<</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">>>></a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}    
{% endblock content %}

    {% for post in all_posts %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="small text-muted">{{ post.date_posted|date:"d.m.Y" }}</div>
            <h2 class="card-title h4">{{ post.title|profanity }}</h2>
            <p class="card-text"> {{ post.text|truncatewords:50|profanity }}</p>
            <a class="btn btn-primary" href="{% url 'post_detail' post.pk %}">Read more →</a>
        </div>
    </div>
    {% endfor %}
